<mat-card appearance="outlined">
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>e-Mail</th>
      <th>City</th>
    </tr>
    <tr>
      <td>GHGHGH</td>
      <td>DGBDDFG</td>
      <td>GDFGDFG</td>
    </tr>
    <tr>
      <td>FADGADFG</td>
      <td>FAGG</td>
      <td>AGADFGFD</td>
    </tr>
  </table>

  <!-- <mat-card-content>Simple card</mat-card-content> -->
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
>
  <mat-icon>add</mat-icon>
</button>
